//@themeColor: rgba(83, 15, 116, 1);
@themeColor: #498541;

/* font */
@font-face {
    font-family: 'TeXGyre';
    src: url('../font/texgyreadventor-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* my style */

.transparent(@p){
    -moz-opacity: @p;
    -khtml-opacity: @p; 
    opacity: @p;
}

.transition-duration(@duration: .3s){
    -webkit-transition-duration: @duration;
    -moz-transition-duration: @duration;
    -o-transition-duration: @duration;
    transition-duration: @duration;
}

.half-transparent{
    .transition-duration;
    .transparent(0.5);
}

.scale(@n){
    -webkit-transform: scale(@n);
    -moz-transform: scale(@n);
    -o-transform: scale(@n);
}

.blur{
    .transition-duration;

    @r: 3px;
    -webkit-filter: blur(@r);
    -moz-filter: blur(@r);
    -o-filter: blur(@r);
    -ms-filter: blur(@r);
    filter: blur(@r);
}

.gradient (@direction: top, @bgn: #fff, @end: #000, @bgn_pos: 0%, @end_pos: 100%) {
    //background-color: (@bgn + @end)/2;
    background-image: linear-gradient(@direction, rgba(255,255,255,0) 0%, @bgn @bgn_pos, @end @end_pos);
    background-image: -o-linear-gradient(@direction, rgba(255,255,255,0) 0%, @bgn @bgn_pos, @end @end_pos);
    background-image: -moz-linear-gradient(@direction, rgba(255,255,255,0) 0%, @bgn @bgn_pos, @end @end_pos);
    background-image: -webkit-linear-gradient(@direction, rgba(255,255,255,0) 0%, @bgn @bgn_pos, @end @end_pos);
    background-image: -ms-linear-gradient(@direction, rgba(255,255,255,0) 0%, @bgn @bgn_pos, @end @end_pos);
}

.left{
    float: left;
}
.right{
    float: right;
}

.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}

.hidden {
    display:none;
}
.inline-block{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.breath{
    background:#fff;
    animation:breath 5s ease 0s infinite normal;
    /* Firefox: */
    -moz-animation:breath 5s ease 0s infinite normal;
    /* Safari and Chrome: */
    -webkit-animation:breath 5s ease 0s infinite normal;
    /* Opera: */
    -o-animation:breath 5s ease 0s infinite normal;
}

@keyframes breath{
    0%   {background:#fff;}
    40%  {background:#eee;}
    70%  {background:#fff;}
    100% {background:#fff;}
}

@-moz-keyframes breath /* Firefox */{
    0%   {background:#fff;}
    40%  {background:#eee;}
    70%  {background:#fff;}
    100% {background:#fff;}
}

@-webkit-keyframes breath /* Safari and Chrome */{
    0%   {background:#fff;}
    40%  {background:#eee;}
    70%  {background:#fff;}
    100% {background:#fff;}
}

@-o-keyframes breath /* Opera */{
    0%   {background:#fff;}
    40%  {background:#eee;}
    70%  {background:#fff;}
    100% {background:#fff;}
}

.rock(@duration: 5s){
    animation:rock @duration ease 0s infinite normal;
    /* Firefox: */
    -moz-animation:rock @duration ease 0s infinite normal;
    /* Safari and Chrome: */
    -webkit-animation:rock @duration ease 0s infinite normal;
    /* Opera: */
    -o-animation:rock @duration ease 0s infinite normal;

    @keyframes rock{
        0%  {transform:translate(0px)}
        5%  {transform:translate(2px)}
        15% {transform:translate(0px)}
        30% {transform:translate(0px)}
        45% {transform:translate(-2px)}
        55% {transform:translate(0px)}
        85% {transform:translate(0px)}
        95% {transform:translate(1px)}
    }

    @-webkit-keyframes rock /* Safari and Chrome */{
        0%  {-webkit-transform:translate(0px)}
        5%  {-webkit-transform:translate(2px)}
        15% {-webkit-transform:translate(0px)}
        30% {-webkit-transform:translate(0px)}
        45% {-webkit-transform:translate(-2px)}
        55% {-webkit-transform:translate(0px)}
        85% {-webkit-transform:translate(0px)}
        95% {-webkit-transform:translate(1px)}
    }
}

.loader {
    display: none;

    position: absolute;
    width: 1.6em;
    height: 1.6em;
    left: 30%;
    top: 50%;
    margin-left: -0.8em;
    margin-top: -0.8em;

    background-color: @themeColor;

    z-index: 50;

    .transparent(0.7);

    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px); opacity: 0.5;}
    50% { -webkit-transform: perspective(120px) scale(0.5, 0.5); opacity: 0; }
    100% { -webkit-transform: perspective(120px) scale(1, 1); opacity: 0.5;}
}

@keyframes rotateplane {
    0% {
        opacity: 0.5;
        transform: perspective(120px);
        -webkit-transform: perspective(120px);
    } 50% {
        opacity: 0;
        transform: perspective(120px) scale(0.5, 0.5);
        -webkit-transform: perspective(120px) scale(0.5, 0.5);
    } 100% {
        opacity: 0.5;
        transform: perspective(120px) scale(1, 1);
        -webkit-transform: perspective(120px) scale(1, 1);
    }
}