//@themeColor: rgba(83, 15, 116, 1);
@themeColor: #498541;

/* font */
@font-face {
    font-family: 'TeXGyre';
    src: url('../font/texgyreadventor-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* my style */

.transparent(@p){
    -moz-opacity: @p;
    -khtml-opacity: @p; 
    opacity: @p;
}

.transition-duration(@duration: .3s){
    -webkit-transition-duration: @duration;
    -moz-transition-duration: @duration;
    -o-transition-duration: @duration;
    transition-duration: @duration;
}

.half-transparent{
    .transition-duration;
    .transparent(0.5);
}

.scale(@n){
    -webkit-transform: scale(@n);
    -moz-transform: scale(@n);
    -o-transform: scale(@n);
}

.blur{
    .transition-duration;

    @r: 3px;
    -webkit-filter: blur(@r);
    -moz-filter: blur(@r);
    -o-filter: blur(@r);
    -ms-filter: blur(@r);
    filter: blur(@r);
}

.gradient (@direction: top, @bgn: #fff, @end: #000, @bgn_pos: 0%, @end_pos: 100%) {
    //background-color: (@bgn + @end)/2;
    background-image: linear-gradient(@direction, rgba(255,255,255,0) 0%, @bgn @bgn_pos, @end @end_pos);
    background-image: -o-linear-gradient(@direction, rgba(255,255,255,0) 0%, @bgn @bgn_pos, @end @end_pos);
    background-image: -moz-linear-gradient(@direction, rgba(255,255,255,0) 0%, @bgn @bgn_pos, @end @end_pos);
    background-image: -webkit-linear-gradient(@direction, rgba(255,255,255,0) 0%, @bgn @bgn_pos, @end @end_pos);
    background-image: -ms-linear-gradient(@direction, rgba(255,255,255,0) 0%, @bgn @bgn_pos, @end @end_pos);
}

.left{
    float: left;
}
.right{
    float: right;
}

.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}

.hidden {
    display:none;
}
.inline-block{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.breath{
    background:#fff;
    animation:breath 5s ease 0s infinite normal;
    /* Firefox: */
    -moz-animation:breath 5s ease 0s infinite normal;
    /* Safari and Chrome: */
    -webkit-animation:breath 5s ease 0s infinite normal;
    /* Opera: */
    -o-animation:breath 5s ease 0s infinite normal;
}

@keyframes breath{
    0%   {background:#fff;}
    40%  {background:#eee;}
    70%  {background:#fff;}
    100% {background:#fff;}
}

@-moz-keyframes breath /* Firefox */{
    0%   {background:#fff;}
    40%  {background:#eee;}
    70%  {background:#fff;}
    100% {background:#fff;}
}

@-webkit-keyframes breath /* Safari and Chrome */{
    0%   {background:#fff;}
    40%  {background:#eee;}
    70%  {background:#fff;}
    100% {background:#fff;}
}

@-o-keyframes breath /* Opera */{
    0%   {background:#fff;}
    40%  {background:#eee;}
    70%  {background:#fff;}
    100% {background:#fff;}
}

.rock{
    animation:rock 5s ease 0s infinite normal;
    /* Firefox: */
    -moz-animation:rock 5s ease 0s infinite normal;
    /* Safari and Chrome: */
    -webkit-animation:rock 5s ease 0s infinite normal;
    /* Opera: */
    -o-animation:rock 5s ease 0s infinite normal;

    @keyframes rock{
        0%   {margin-top:-3px;margin-right:0px;}
        20%  {margin-top:3px;margin-right:0px;}
        40% {margin-top:-3px;margin-right:0px;}
    }

    @-moz-keyframes rock /* Firefox */{
        0%   {margin-top:-3px;margin-right:0px;}
        20%  {margin-top:3px;margin-right:0px;}
        40% {margin-top:-3px;margin-right:0px;}
    }

    @-webkit-keyframes rock /* Safari and Chrome */{
        0%   {margin-top:-3px;margin-right:0px;}
        20%  {margin-top:3px;margin-right:0px;}
        40% {margin-top:-3px;margin-right:0px;}
    }

    @-o-keyframes rock /* Opera */{
        0%   {margin-top:-3px;margin-right:0px;}
        20%  {margin-top:3px;margin-right:0px;}
        40% {margin-top:-3px;margin-right:0px;}
    }
}

