@font-face{font-family:'TeXGyre';src:url('../font/texgyreadventor-regular-webfont.woff') format('woff');font-weight:normal;font-style:normal}.left{float:left}
.right{float:right}
.align-left{text-align:left}
.align-right{text-align:right}
.align-center{text-align:center}
.hidden{display:none}
.inline-block{display:inline-block;*display:inline;*zoom:1}
