extends reader

block leftBlock
    if prev
        a.left-block(href='/channel/'+prev.id)
            i.icon-caret-left

block topBlock
    a.top-block(href='/')
        i.icon-caret-up

block centerBlock
    .center-block
        h3.title= channel.title
        .main-content
            ul.item-list
                each item in channel.items
                    li
                        a(href='/channel/'+channel.id+'/item/'+item.id)= item.title
                        span.pubdate= item.date


block rightBlock
    if next
        a.right-block(href='/channel/'+next.id)
            i.icon-caret-right
