!!! 5
html
    head
        title= title
        block libs
            script(src='/lib/jquery-2.0.2.min.js')
            script(src='/lib/template.min.js')
            script(src='/javascripts/util.js')
        block stylesheets
            link(rel='stylesheet', href='/stylesheets/global.css')
    body
        if user
            span#user-info(data-uid=user.id)
        #header
        #content
            block content
                p no content
        #footer
            block scripts
                script(src='/javascripts/global.js')
