extends global

append scripts
    script(src='/javascripts/home.js')

append stylesheets
    link(rel='stylesheet', href='/stylesheets/home.css')

block content
    h3.title= user.name
        .main-content
            ul.channel-list
                each channel in user.channels
                    li
                        a(href='/channel/'+channel.id)= channel.title