<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title><%= title %></title>
	<script type="text/javascript" src="/lib/jquery-2.0.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/util.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>
<body>
	<h3><%= title %></h3>
	<div id="channel-box" class="channel-box"></div>
</body>
<script type="text/javascript" src="/javascripts/home.js"></script>
</html>