extends reader

block leftBlock
    a#left-link.left-block(data-link-async="true", data-link-preload="true")
        i.icon-caret-left

block topBlock
    a#top-link.top-block(data-link-async="true", data-link-preload="false")
        i.icon-caret-up

block centerBlock
    .center-block
        h3#item-title.title
            //- = item.title
        p#item-info.info
            span#item-date.date
                //- = item.date
            a#item-link.link(href=item.link, target='_blank') ORIGIN
        #item-content.main-content
            //- != item.content

block rightBlock
    a#right-link.right-block(data-link-async="true", data-link-preload="true")
        i.icon-caret-right

append libs
    script#channel-template(type='text/html')
        |<ul class="item-list">
        |        <%for(i = 0; i < list.length; i ++) {%>
        |            <li>
        |                <a data-link-async="true" data-link-preload="true" href="/channel/<%=channel.id%>/item/<%=list[i].id%>">
        |                    <%=list[i].title%>
        |                </a>
        |                <span class="pubdate">
        |                    <%=list[i].date%>
        |                </span>
        |            </li>
        |        <%}%>
        |</ul>
    script!= 'var obj = ' + JSON.stringify(item) + ';'


append scripts
    script(src='/javascripts/item.js')