extends global

append scripts
    //script(src='/javascripts/modules/checkout.js')
    script(src='/javascripts/reader.js')

append stylesheets
    link(rel='stylesheet', href='/stylesheets/reader.css')

block content
    block leftBlock
    block rightBlock
    block topBlock
    .middle-block
        block centerBlock
        block bottomBlock
