extends global

append scripts
    script(src='/javascripts/reader.js')

append stylesheets
    link(rel='stylesheet', href='/stylesheets/reader.css')

block content
    block leftBlock
    block rightBlock
    .middle-block
        block topBlock
        block centerBlock
        block bottomBlock
