extends global

block content
	form(action='', method='post')
		if target
			input(type='hidden', name='target', value=target)
		input(type='text', name='username')
		input(type='password', name='password')
		button(type='submit') signin