extends reader

block stylesheets
    link(rel='stylesheet', href='/stylesheets/css/entrance.css')

block headerContent
    #header.header
        #title-block.title-block
            h3.top-title NIREADER，
            h3.second-title 我自己
            h3.second-title 用的
            h3.second-title RSS阅读器

            p.ops
                span#signin.op 登入
            #signin-block.signin-block
                //form(action='/api/signin', method='post')
                input#name-in(type='text', name='username', placeholder='test')
                input#password-in(type='password', name='password', placeholder='123456')
                button#submit(type='submit')
                    i.icon-ok