extends global

append stylesheets
    link(rel='stylesheet', href='#{DOMAINS.CSS}/stylesheets/css/signin.css')

block content
    form.signin-block(action='/api/signin', method='post')
        if target
            input(type='hidden', name='target', value=target)
        input(type='text', name='username', placeholder='USERNAME')
        input(type='password', name='password', placeholder='PASSWORD')
        button(type='submit')
            i.icon-ok