.left-block, .right-block{
	width: 50px;
	height: 100%;
	background-color: #f0f0f0;
}

.left-block{
	float: left;
}
.right-block{
	float: right;
}

.middle-block{
	position: relative;
	.top-block{
		width: 100%;
		height: 50px;

		background-color: #ccc;
	}
	.center-block{
		min-height: 100px;

		background-color: #333;
	}
}